# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.Python

*.manifest
*.spec

.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

.python-version
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/

# mac
*.DS_Store
*._.DS_Store