einops==0.8.0
matplotlib==3.10.0
numpy==2.2.2
opencv-python==4.7.0.72
pandas==2.2.3
Pillow==11.1.0
pytz==2025.1
scipy==1.15.1
streamlit==1.42.0
streamlit-aggrid==1.1.0
tensorboard==2.18.0
timm==1.0.14
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
